<div id="<%= dom_id mining_type %>">
  <p style="padding: 30px 0 10px 10px;">
    <strong> <%= t('description') %> </strong>
    <%= mining_type.description %>
  </p>

  <p style="padding: 30px 0 10px 10px;">
    <strong> <%= t('acronym') %> </strong>
    <%= mining_type.acronym %>
  </p>
</div>